.App {
  /* text-align: center; */
  background-color: rgb(65, 65, 240);
  width: 70%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoUpload{
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color:white;
  text-align: center;
  width: 80%;
  height: 30vh;
}
